parameters:
	ignoreErrors:
		-
			message: "#^Call to static method prompt\\(\\) on an unknown class WordPress\\\\AI_Client\\\\AI_Client\\.$#"
			count: 1
			path: src/includes/SparxstarGluonAIManager.php
		-
			message: "#^Variable \\$args might not be defined\\.$#"
			count: 1
			path: src/templates/sparxstar-gluon-template.php
